%ol
  %li
    %h3= "MARKETING MATERIALS"
    %ol
      %li
        = "If the Exhibitor wishes the Organiser to display the Exhibitor’s logo in marketing materials, the Exhibitor will provide the Organiser with a high quality copy of the Exhibitor’s logo in one of these formats: "
        %ul
          %li= "Encapsulated PostScript (EPS); "
          %li= "Adobe Illustrator Artwork (AI); "
          %li= "Photoshop Document (PSD); or "
          %li= "Portable Network Graphics (PNG),"
        %strong= "by 5:00 pm AEST on Thursday, July 25, 2013."
        = " Failure to provide the logo by this date may result in the Exhibitor’s logo not being included in marketing materials. Until the Exhibitor provides the Organiser with the Exhibitor’s logo, its attendance may not be listed on the Convention website."

      %li
        = "If the Organiser has agreed to provide a sign for the Convention with the Exhibitor’s logo, a failure to provide an appropriate quality logo by "
        %strong= "5:00 pm AEST on Friday, July 19, 2013" 
        = " will result in the Exhibitor forfeiting their purchase of signage and no signage will be provided for the Convention."
      %li= "The Organiser will endeavour to provide the best exposure for the Exhibitor; however, the final logo placements in all marketing materials will be at the discretion of the Organiser."
  %li
    %h3= "STALL ARRANGEMENT"
    %ol
      %li= "The placement of the Exhibitor’s stall during the Convention is at the discretion of the Organiser."
      %li= "Any displays the Exhibitor may wish to put up during the Convention shall be limited to the area within the stall space."
      %li
        = "The Exhibitor will be allowed pre-Convention access to the main exhibitor area on "
        %strong= "Friday, August 9, 2013"
        = " and the morning of "
        %strong= "Saturday, August 10, 2013."
        = " Times of access will be provided by the Organiser at a later date. "
      %li= "At the end of the Convention, the Exhibitor must leave the stall in the state the Exhibitor found it. This includes, but is not limited to, the removal of products, removal of rubbish and general cleanliness. The Exhibitor will be financially responsible for any costs incurred as a result of their failure to leave their stall in the state they found it."
      %li= "The Organiser will correspond with the designated person/s specified by the Exhibitor. Information provided by the Organiser to the designated person/s is deemed to have been provided to the Exhibitor. If the Exhibitor wishes to change any details relating to the designated person/s, it is the Exhibitor’s responsibility to notify the Organiser."
      %li= "The Exhibitor is responsible for the movement of all equipment to/from the Convention or in the stall space. The Organiser is not liable for any breakages that may occur."
      %li
        = "Staff, stock and equipment must be removed from the premises by "
        %strong= "7:00pm AEST on Saturday, 10 August, 2013."
        = " Failure to do so will result in additional charges for extension of hire of venue calculated per hour until all stallholder staff, stock and equipment has been removed from the premises. "
  %li
    %h3= "REGISTRATION DEADLINE"
    %ol
      %li
        = "The registration deadline is "
        %strong= "5:00 pm AEST on Tuesday, July 16, 2013."
        = " An additional 20% will be charged after this date. "
  %li
    %h3= "REFUNDS"
    %ol
      %li
        = "If the Exhibitor cannot attend the Convention, their hire fee will be refunded in full if the Exhibitor gives notice of their cancellation by "
        %strong= "5:00pm AEST on Friday, July 19, 2013."
      %li
        = "If the Exhibitor cannot attend the Convention and provides notice between "
        %strong= "5:00pm AEST on Friday, July 19, 2013"
        = " and "
        %strong= "5:00pm AEST on Friday, July 26, 2013"
        = ", 50% of the hire fee will be refunded."
      %li
        = "If the Exhibitor cannot attend the Convention and provides notice after "
        %strong= "5:00 pm AEST on Friday, July 26, 2013"
        = ", the Exhibitor will forfeit all hire fees."
  %li
    %h3= "UNAUTHORISED MATERIAL (BOOTLEGS) "
    %ol
      %li= "For the purposes of this agreement, a product is referred to as a ‘bootleg’ when sale of such a product is unauthorised by the relevant intellectual property rights holder(s) for that product. In the event of a disagreement between the Organiser and the Exhibitor as to whether a product is unauthorised, the final decision will be determined by the Organiser. No correspondence will be entered into and the decision is final. If the Exhibitor is unsure of whether a product complies with this section, they are encouraged to ask the Organiser for clarification. "
      %li= "The trading and/or selling of bootleg and/or illegal merchandise at the Convention is prohibited and will not be tolerated for any reason. If the Exhibitor participates in the sale of bootlegs, the Exhibitor will be given an official warning from the Organiser and asked to remove the relevant items from display and sale for the duration of the Convention. If the Exhibitor continues to sell bootlegs, the Exhibitor will be given a second official warning and asked to remove the relevant items from display. If the Exhibitor continues to sell bootlegs, the Exhibitor will forfeit their stall and their hire fee and be asked to leave the Convention immediately. No correspondence will be entered into and the decision is final."
  %li
    %h3= "COMMERCIAL PRODUCTS (COMMUNITY GROUP STALLHOLDERS ONLY)"
    %ol
      %li= "This section applies to the Exhibitor only if it has been designated as a ‘Community Group Stallholder’ by the Organiser. An Exhibitor is a ‘Community Group Stallholder’ if it is located in the Artist Circle or in the Clubs & Community Groups area."
      %li= "Content on public display at the Convention must not breach this section. In the event of a disagreement between the Organiser and the Exhibitor as to whether this section has been breached, the decision will be made by the Organiser. No correspondence will be entered into and the decision is final. If the Exhibitor is unsure of whether a product complies with this section, they are encouraged to ask the Organiser for clarification."
      %li= "If the Exhibitor sells a product which breaches this section, the Exhibitor will be given an official warning by the Organiser and asked to remove the relevant items from display and sale for the duration of the Convention. If the Exhibitor continues to sell a product which breaches this section, the Exhibitor will be asked to remove the relevant items from display and sale for the duration of the Convention and given a second official warning. If the Exhibitor continues to sell a product which breaches this section, the Exhibitor will forfeit their stall and their hire fee and be asked to leave the Convention immediately. No correspondence will be entered into and the decision is final."
      %li= "The sale of commercial products by an Exhibitor is not permitted. For the purposes of this section, a product is a ‘commercial product’ if the item not produced, designed or manufactured by the Exhibitor or by persons with whom the Exhibitor has an agreement to sell items on their behalf."
      %li= "Section 5 does not apply to the Exhibitor in respect of artwork that they produce or manufacture. In the event of a disagreement between the Organiser and the Exhibitor as to whether an item is artwork, the decision will be made by the Organiser. No correspondence will be entered into and the decision is final. If the Exhibitor is unsure of whether an item is artwork, they are encouraged to ask the Organiser for clarification."
  %li
    %h3= "CONTENT AND MERCHANDISE RESTRICTIONS"
    %ol
      %li= "Content on public display at the Convention must not breach this section. If the Exhibitor sells a product which breaches this section, the Exhibitor will be given an official warning by the Organiser and asked to remove the relevant items from display and sale for the duration of the Convention. If the Exhibitor continues to sell a product which breaches this section, the Exhibitor will be asked to remove the relevant items from display and sale for the duration of the Convention and given a second official warning. If the Exhibitor continues to sell a product which breaches this section, the Exhibitor will forfeit their stall and their hire fee and be asked to leave the Convention immediately. No correspondence will be entered into and the decision is final. If the Exhibitor is unsure of whether a product complies with this section, they are encouraged to ask the Organiser for clarification."
      %li
        = "The sale of products with restricted content is not permitted. For the purposes of this section, restricted content includes:"
        %ul
          %li= "frontal and tasteless nudity, pornography, sexually orientated violence, explicit or suggestive material;"
          %li= "material that promotes or encourages behaviour that is threatening, embarrassing, hateful, libellous, racially or ethnically insulting, or otherwise inappropriate for persons under the age of 15; and"
          %li= "extreme violence or gore."
      %li= "The sale of foods and drinks (“consumable items”) is a right reserved for Exhibitors that are designated by the Organiser as a ‘food vendor’. Consumable items must not be sold by the Exhibitor without the express permission of the Organiser. No correspondence will be entered into and the decision is final."
      %li= "If the Exhibitor is found selling consumable items, they will be asked by the Organiser to remove it from sale. If they do not comply, their merchandise may be retained by the Organiser until the end of the Convention. No correspondence will be entered into and the decision is final."
  %li
    %h3= "STAFF ENTRY"
    %ol
      %li= "The Exhibitor will be issued with the number of exhibitor passes agreed to as part of their application. The Exhibitor will be required to submit a list of staff who will be receiving exhibitor passes. Staff without a pass will be denied entry to the Convention."
      %li= "Staff who differ from those on the list provided by the Exhibitor may be denied entry using the exhibitor pass. This decision will be at the discretion of the Organiser. No correspondence will be entered into and the decision is final."
      %li= "The number of exhibitor passes to be provided to the Exhibitor is the number listed on the invoice provided by the Organiser to the Exhibitor. The Organiser and Exhibitor may agree to a different number if the agreement is made in writing."
  %li
    %h3= "LIABILITY"
    %ol
      %li= "It is the Exhibitor’s responsibility to hold necessary public liability insurance for their attendance at the Convention. The Organiser takes no responsibility for any damage incurred by the Exhibitor or their property before, during or after the Convention."
      %li= "The Organiser is not responsible for damage or loss incurred at any time between the setup of the Exhibitor’s stall and the close of the Convention."
  %li
    %h3= "THEFT"
    %ol
      %li= "It is the Exhibitor’s responsibility to protect themselves from theft. The Organiser takes no responsibility for any damage incurred by the Exhibitor or their property before, during or after the Convention."
  %li
    %h3= "GENERAL"
    %ol
      %li= "These terms and conditions are subject to change at the Organiser’s discretion as notified from time to time."
      %li= "The dates are subject to change at the Organiser’s discretion as notified from time to time."
      %li= "By the Exhibitor’s payment and/or attendance, the Exhibitor also agrees to any additional terms set out in other information provided by the Organiser (if applicable). "
      %li= "By the Exhibitor’s payment and/or attendance, the Exhibitor agrees to all the conditions set out on this agreement. The Organiser will do its utmost to ensure that the event will be an enjoyable and productive event for all concerned. "
      %li= "Placement in the convention is not confirmed until the Organiser has received payment for the issued invoice from the Organiser. The Exhibitor’s attendance at the Convention is subject to any further rules and regulations of the exhibiting venue, the Organiser vendor manual or official suppliers (where applicable)."
