!!! 5
%html
  %head
    %title= "Invoice"
    :css
      body {
        font-family: sans-serif;
      }
      .header-left {
        float: left;
      }
      .header-right {
        float: right;
      }
      section {
        clear: both;
      }
      header h2 {
        text-transform: uppercase;
      }
      #content table {
        width: 100%;
      }
      #content thead tr th {
        border-top: 4px solid black;
        border-bottom: 1px solid black;
      }
      #content tfoot tr th {
        border-top: 1px solid black;
        border-bottom: 2px solid black;
      }
      #content tbody tr td {
        border-top: 1px solid black;
      }
      #content tbody tr:first-child td {
        border-top: 0px none;
      }
      th, td {
        text-align: left;
        vertical-align: top;
        padding: 0.5em;
      }
      #content .price-col {
        width: 33%;
        text-align: right;
      }
      .price:before {
        content: "$";
      }
      .row-add, .row-remove {
        display: inline-block;
        text-align: center;
        border-radius: 1em;
        border: 1px solid #000;
        background: #ccc;
        color: black;
        text-decoration: none;
        min-width: 1em;
        min-height: 1em;
      }
      .row-add {
        background: #080;
        border-color: #0b0;
        color: white;
      }
      .row-remove {
        background: #800;
        border-color: #b00;
        color: white;
      }
      .legalese {
        font-size: 0.8em;
      }
      @media print {
        button, .row-add, .row-remove {
          display: none;
        }
      }
    %link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css"}
    %script{:src => "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{:src => "http://code.jquery.com/ui/1.10.0/jquery-ui.js"}
  %body{:id => "hisaishi-admin--lyrics"}
    %header
      %hgroup{:class => "header-left"}
        %img{:src => "/smash-logo.png"}
        %table
          %tbody
            %tr
              %th= "Date: "
              %td
                %span{ :contenteditable => "false" }= ""
                %input{ :type => "hidden", :class => "datepicker" }
            %tr
              %th= "To: "
              %td
                %strong
                  %span{ :contenteditable => "true" }= "Sponsor Name"
                %br
                %span{ :contenteditable => "true" }= "Sponsor Address"
      %hgroup{:class => "header-right"}
        %h2= "Tax Invoice"
        %p
          %strong= "Invoice No: #{inv.number}"
        %p= "ABN: 46 310 471 217"
        %p
          = "Suite 808"
          %br
          = "187 Liverpool St."
          %br
          = "Sydney NSW 2000"
    %section{:id => "content"}
      %table{:id => "invoice-table"}
        %thead
          %tr
            %th= "Description"
            %th{ :class => "price-col" }= "Amount"
        %tbody
          %tr
            %td
              %span{ :class => "name", :contenteditable => "true" }= "item"
            %td{ :class => "price-col" }
              %span{ :class => "price", :contenteditable => "true" }= "0.00"
              %a{ :class => 'row-remove', :href => '#', :title => "Remove row" }= "-"
        %tfoot
          %tr
            %th
              %a{ :class => 'row-add', :href => '#', :title => "Add row" }= "+"
            %th{ :class => "price-col" }
              %p
                = "(Without GST) Total: "
                %span{:class => "subtotal price"}= "0.00"
              %p
                = "GST: "
                %span{:class => "gst price"}= "0.00"
              %p
                = "(Incl. GST) Total: "
                %span{:class => "total price"}= "0.00"
      %h2= "Payment Methods:"
      %ul
        %li
          %em= "By cheque – "
          = "Please make cheque payable to SMASH and mail it to our treasury department along with copy of your invoice or invoice number (see mailing address above)"
        %li
          %em= "By EFT transfer or Bank deposit – "
          = "Please transfer funds directly to our Commonwealth Bank account listed below. Please include the invoice number in the transaction description."
          %br
          %strong
            = "Account name: SMASH "
            = "BSB: 062303 "
            = "Account number: 10506449 "
      %p
        %strong
          = "Payment is due by: "
          %span{ :contenteditable => "false" }= ""
          %input{ :type => "hidden", :class => "datepicker" }
      %p{:class => "legalese"}
        %strong
          = "This document forms part of the contract between SMASH Inc (the ‘Organiser’, ‘We’ or ‘Us’) and the signatory (the ‘Exhibitor’ or ‘You’). It is a condition of Your attendance at the 2013 SMASH! Sydney Manga and Anime Show (the ‘Convention’) that you agree to, and abide by, the following."
          %br
          = "ANY BREACH OF THESE TERMS MAY RESULT IN REMOVAL FROM THE CONVENTION."
    %section
      %h2= "SMASH! 2013 #{inv.app.name} Terms and Conditions"
      != haml :"_#{inv.app.stub}"
    :javascript
      $(document).ready(function(){
        var invTable = $('#invoice-table tbody');
        
        $('.row-add').click(function(e){
          e.preventDefault();
          var row = invTable.children('tr').first();
          var clone = row.clone(true);
          clone.find('.name[contenteditable]').text('Item');
          clone.find('.price[contenteditable]').text('0.00');
          clone.appendTo(invTable);
          totalItems();
        });
        
        $('.row-remove').click(function(e){
          e.preventDefault();
          if (invTable.children('tr').length > 1) {
            $(this).closest('tr').remove();
          }
          totalItems();
        });
        
        var totalItems = function() {
          var total = 0;
          $('.price[contenteditable]', invTable).each(function(){
            var val = parseFloat($(this).text());
            total += val;
            $(this).text(val.toFixed(2));
          });
          $('.subtotal').text(total.toFixed(2));
          $('.gst').text((total * 0.1).toFixed(2));
          $('.total').text((total * 1.1).toFixed(2));
        };
        
        $('[contenteditable]', invTable).blur(function(e){
          totalItems();
        });
        
        $(".datepicker").datepicker({
          dateFormat: 'DD, d MM yy',
          showOn: "button",
          onClose: function(dateText, inst) {
            $(this).parent().find("[contenteditable=false]").focus().html(dateText).blur();
          }
        });
      });